{% extends 'journal/layout.html' %}
{% load static %}


{% block body %}
<div class="container">
    <!-- TODO: if boxes get clicked open a modal with pre-populated form to see/update entry -->
    {% comment %} <table id="board" class="mx-auto my-3 px-2 shadow-sm rounded-2">
        <tbody class="d-flex flex-column gap-1">
            <tr class="d-flex align-items-center justify-content-end gap-2">
                <td></td>
                <td></td>

            </tr>
            <tr class="d-flex align-items-center justify-content-center gap-2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="d-flex align-items-center justify-content-center gap-2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="d-flex align-items-center justify-content-center gap-2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="d-flex align-items-center justify-content-center gap-2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table> {% endcomment %}

    <div id="boardDiv">
        <table class="mx-auto my-3 p-1 rounded-2 shadow-sm" id="activityBoard">
            <thead class="d-flex align-items-center justify-content-center gap-2 mb-2" id="boardHead">
                <tr class="d-flex align-items-center justify-content-center gap-2">
                    <td>M</td>
                    <td>T</td>
                    <td>W</td>
                    <td>T</td>
                    <td>F</td>
                    <td class="text-danger">S</td>
                    <td class="text-danger">S</td>
                </tr>
            </thead>
        </table>

    </div>

    <hr class="border border-secondary-subtle border-1 opacity-25">

    <h2 class="display-4 text-center">Today</h2>
    {% comment %} <div class="border border-secondary-subtle d-flex justify-content-between align-items-center mb-3 rounded-2 shadow-sm p-2">
        
        {% if entry is not None %}
            <div class="px-3">
                <p class="text-secondary fw-bold">{{ entry.title }}</p>
                <div>{{ entry.content|safe }}</div>
                {% if entry.tags.all %}
                    <div class="border-top d-flex gap-2 pt-2 pb-0">
                        {% for tag in entry.tags.all %}
                        <span class="badge text-bg-secondary rounded-pill">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div> 

        {% else %}
            <p class="lead my-0">No entry to show</p>
            <a href="{% url 'create_entry' %}" class="btn btn-primary py-1 rounded-pill" role="button">New Entry</a>
        {% endif %}
            
    </div> {% endcomment %}
    <div class="d-flex align-items-center mb-3 rounded-2 shadow-sm p-2" id="todaysEntry">
        <!-- JS WILL POPULATE THIS DIV -->
    </div>


</div>
{% endblock %}

{% block script %}
<script src="{% static 'journal/js/getEntries.js' %}"></script>
<script src="{% static 'journal/js/board.js' %}"></script>
<script src="{% static 'journal/js/script.js' %}"></script>
{% endblock %}