{% extends 'journal/layout.html' %}
{% load static %}


{% block body %}
<div class="container" id="indexView">
    <input type="hidden" name="csrfToken" value="{{ csrf_token }}" style="display: none;" id="csrfToken">
    <div id="boardDiv">
        <table class="mx-auto my-3 p-1 rounded-2 shadow-sm" id="activityBoard">
            <thead class="d-flex align-items-center justify-content-center gap-2 mb-2" id="boardHead">
                <tr class="d-flex align-items-center justify-content-center gap-2">
                    <td>M</td>
                    <td>T</td>
                    <td>W</td>
                    <td>T</td>
                    <td>F</td>
                    <td class="text-danger">S</td>
                    <td class="text-danger">S</td>
                </tr>
            </thead>
        </table>

    </div>

    <hr class="border border-secondary-subtle border-1 opacity-25">

    
    <div id="daysView">
        <h2 class="display-4 text-center text-danger-emphasis" id="daysHeading"></h2>
        <div class="border d-flex align-items-center mb-3 rounded-2 shadow-sm p-2" id="daysEntry">
            <!-- js manipulation -->
        </div>
        <div class="d-grid col-12 gap-2 mb-3 mx-auto" id="newEntryBtnDiv">
            <!-- js manipulation -->
        </div>
    </div>



</div>
{% endblock %}

{% block script %}
<script src="{% static 'journal/js/getEntries.js' %}"></script>
<script src="{% static 'journal/js/board.js' %}"></script>
<script src="{% static 'journal/js/script.js' %}"></script>
{% endblock %}