tbody td:hover {
    opacity: 0.75;
}

p {
    margin-bottom: 0;
}

#activityBoard {
    border-collapse: separate;
    border-spacing: 6px;
    border: 1px solid #ddd;
}


#activityBoard td {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    padding: 0;
}

#activityBoard > tbody td {
    background-color: #eee;
    font-size: small;
    color: #339a
}

#boardHead td {
    background-color: none;
} 

.nav-item.dropdown {
    list-style-type: none;
}

/* truncate the content longer than 3 lines */
/* ? doesn't work on safari */
/* .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
} */

.line-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 !important;
    line-height: var(--line-height,1.5) !important;
}


.line-clamp-3 {
	-webkit-line-clamp : 3;
	height: calc(1em * var(--line-height, 1.5) * 3);
}


@media (max-width: 370px) {
    #activityBoard td {
        width: calc(10vw);
        height: calc(10vw);
    }
}